@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    body{
        @apply dark:bg-zinc-800
    }

    li{
        @apply text-gray-900 dark:text-gray-200
    }

    .markdown > *{
        all: revert;
        @apply dark:text-white 
    }
}




::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #4C3D3D;
    border-radius: 5px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #FFD95A;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #C07F00;
}